// 一号
.font-1-hao{
  font-size:26pt;
}
// 小一
.font-1-xiaohao{
  font-size:24pt;
}
.font-2-hao{
  font-size:22pt;
}
.font-2-xiaohao{
  font-size:18pt;
}
.font-3-hao{
  font-size:16pt;
}
.font-3-xiaohao{
  font-size:15pt;
}
.font-4-hao{
  font-size:14pt;
}
.font-4-xiaohao{
  font-size:12pt;
}
.font-xiao-chu{
  font-size:36pt;
}
// 初号
.font-chu{
  font-size: 44pt;
}

